.page-header {
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-header .nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 10px 20px;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-header .nav-list a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.page-header .nav-list a.active {
  color: red;
}

.page-header .nav-list a:hover {
  text-decoration: underline;
}

.api-project-header .api-project-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 8px 16px;
  flex-wrap: wrap;
}